<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
<div class="container">

  <a class="navbar-brand" href="/">IMDB</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article/new">New Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/article">Manage Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/comment">Manage Comments</a>
      </li>
    </ul>
  </div>
</div>

  {% block sidebar %}

    <div class="search-container" style="padding-left: 10px">
      <form class="form-inline my-2 my-lg-0 search-container">
        <input class="form-control mr-sm-2"
               type="text"
               name="q"
               placeholder="Search"
               value="{{ app.request.query.get('query') }}"
               aria-label="Search">


        <div class="input-group-append">

        <button class="btn btn-outline-success my-2 mr-3 my-sm-0"
                type="submit">Search</button>
          <li class="nav-item">
            <a class="nav-link btn btn-success" href="/login">Login</a>
          </li>


        </div>
      </form>
    </div>

  {% endblock %}
</nav>

