{% extends 'base.html.twig' %}

{% block title %}{{ article.movieTitle }}{% endblock %}

{% block body %}
    <h1>{{ article.movieTitle }}</h1>
    <p>{{ article.messageBody }}</p>
    <hr>
    <a href="/">Go Back</a>
{% endblock %}